body {
    margin: 0;
    background-color: #1B244A;
    text-align: center;
    
    
}

.container {
    display: flex;
    justify-content: space-around;
}
h3{
    color:#EEEEEE;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#homescore{
    font-family: 'Cursed Timer ULiL', sans-serif;;
    font-size: 90px;
    margin:20px;
    width:120px;
    padding-top: 10px;
    background-color:black ;
    color: #F94F6D;
    border:2px solid #059669;
    border-radius: 5px;
    
}
#guestscore{
     font-family: 'Cursed Timer ULiL', sans-serif;
      font-size: 90px;
      padding-top: 10px;
    margin:20px;
    width:120px;
    background-color:black ;
    color: #F94F6D;
    border:2px solid #059669;
    border-radius: 5px;
    
}
button{
    background-color: #1B244A;
    color:#9AABD8;
    border:1px solid #9AABD8 ;
    border-radius: 2px;
    padding:5px 10px;
    margin:0px 2px
    
}

   

